@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'OpenSans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(/src/assets/fonts/OpenSans/OpenSans-Bold.ttf) format('ttf');
    }

    @font-face {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/src/assets/fonts/OpenSans/OpenSans-Regular.ttf) format('ttf');
    }

    @font-face {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/src/assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Light.ttf) format('ttf');
    }
  }